<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Blog</title>
</head>

<body data-bs-theme="dark">
    <%- include('./partials/nav.ejs') %>
        <div class="container mt-4">
            <h1 style="margin-bottom: 25px;">Blogs</h1>
            <% if (locals.blogs) { %>
                <% blogs.forEach(blog=> { %>
                    <div onclick="openBlog('<%=blog._id%>')" class="card mb-3 border border-warning border-2"
                        style="cursor: pointer;">
                        <img style="max-height: 300px; object-fit: cover;" src="<%= blog.coverImage %>"
                            class="card-img-top" alt="<%= blog.coverImage %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= blog.title %>
                            </h5>
                            <a href="/blog/<%= blog._id %>" id="anchor" class="btn btn-light">View</a>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
        <%- include('./partials/script.ejs') %>
</body>

<script>
    function openBlog(blogId) {
        window.location.href = `/blog/${blogId}`
    }
</script>

</html>